.mat-toolbar{
  height: auto;
  display : flex;
  justify-content: center;
  width: 100%;
}

.sf{
  width: 50%;
}
.mat-form-field{
  width: 100%;
}
.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  
}


.header {
  /* height: 10%; */
  overflow-y: hidden;
  flex-shrink: 0;
}

.image{
  height: 50%;
}

.mat-card-action{
  margin: auto;
  height: 10%;
}

.mat-card-content {
  margin: auto;
  overflow: hidden;
}
.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
